# Ignore virtual environment
.venv/

# Python bytecode files
__pycache__/
*.py[cod]

# Django-specific files
db.sqlite3
*.log
*.pot
*.pyc
staticfiles/
media/

# Environment files (for sensitive data)
.env
*.env

# VS Code editor-specific files
.vscode/
